.nav_bar{
    color: white;
    display: block;
    text-align: center;
    font-size: x-large; 
}

.link_item{
    margin: 80px 40px;
    text-align: center;
    color: white;
}

.link_item:hover {
    background-color: darkgrey;
}

.navIcons{
    width: 10%;
    height: 10%;
}