.itemImage {
    max-width: 75%;
    max-height: 75%;
    min-width: 35%;
    min-height: 35%;
    /* max-height: 300px; */
    margin-bottom: 5px;
}

.MobileScanItem{ 
    /* width: 100%;
    height: 15%; */
    margin-top: '5px';
    margin-bottom: '5px';
}

.MobileItemName {
    font-size: '6vw';
    height: 30%;
}

.MobileScanItemDescription {
    margin-left: 5px;
    margin-right: 5px;
    font-size: '3vw';
    overflow: auto;
    height: 60pt;
    margin-bottom: 15px;
}

.DesktopScanItem {
    margin-top: '5px';
    margin-bottom: '5px';
    width: 100%;
    height: 30%;
}

.DesktopItemName {
    font-size: 2vw;
}

.DesktopScanItemDescription {
    overflow: auto;
    height: 150px;
    font-size: 1.5vw;
}