body{
  background-color: black;
}

.App {
  text-align: center;
}

.App-nav {
  background-color: black;
  text-align: center;
  /*flex-direction: column;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  float: left;
  color: white;
  margin-top: 40px;

}

.navbar-Container{
  width: 100%;
}

.App-logo {
  height: 8rem;
  width: 8rem;
  object-fit: contain;
  float: left;
}

.App-logo-alt {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.Title-label {
  text-align: center;
  font-size: 10vw;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
